<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="estilo.css">
    
</head>
<body class="cadbody">
    <div>
        <h1 class="cadtexto">Aqui você deverá cadastrar sua empresa.</h1>
        <br>
        <p>Qual o nome da sua Empresa?</p>
        <br>
        <input type="text" value="Sua Empresa" placeholder="Nome da empresa">
        <button class="empresa">ok</button>
        <br>
        <p>Qual o CNPJ de sua Empresa?</p>
        <input type="text" value="CNPJ" placeholder="CNPJ">
        <button class="empresa">ok</button>
    </div>
</body>
</html>