<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contato</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body id="conbody">
    <div id="contato">
        <h1 id="saudacao">Entre em contato conosco</h1>
        <p> Rafael Pacheco</p>
        <img class="fone" src="imagens/—Pngtree—phone icon calling_5820379.png" alt="telefone">
        <p>48-988321928</p>
        <img class="fone" src="imagens/—Pngtree—email icon in flat style_5237475.png" alt="">
        <p>rafaelquintino8115@gmail.coms</p>
        <p> Caoan Ferreira</p>
        <img class="fone" src="imagens/—Pngtree—phone icon calling_5820379.png" alt="telefone">
        <p>48-996063962</p>
        <img class="fone" src="imagens/—Pngtree—email icon in flat style_5237475.png" alt="">
        <p>caoanferreira23@gmail.com</p>
        <p> Marcus Vinicius</p>
        <img class="fone" src="imagens/—Pngtree—phone icon calling_5820379.png" alt="telefone">
        <p>47-988400752</p>
        <img class="fone" src="imagens/—Pngtree—email icon in flat style_5237475.png" alt="">
        <p>marcusviniciuslatenek@gmail.com</p>
    </div>
    
</body>
</html>