<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="titulo">Bem Vindo ao Orçamento Online</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body id="index">
    <div id="topo">
        <h1 id="indexh1">Orçamento online</h1>
    </div>
    <div id="corpo">
        <div class="menu">
            <ul id="lista">
                <li class="item"><a href="cadastro.html"> Cadastre sua Empresa</a></li>
                <li class="item"><a href="orcamento.html">Orcamento</a></li>
                <li class="item"><a href="contato.html">Contato</a></li>
                <li class="item"><a href="itens.html">Itens</a></li>
                  
            </ul>
        </div>
        <div id="sidemenu">
            <p>Muitas vezes precisamos realizar orçamento de produtos, porém o tempo não é nosso aliado.
            O vendedor pode se atrasar ou até mesmo chegar nos horários em que a atenção dada à essa operação não seja a devida,
        podendo levar a compras desnecessárias, diminuindo o lucro. Esse é o propósito do "Orçamentonline", como uma lista de supermercado,
    solicitando somente o necessário, sem compras por impulso e sem tempo perdido em loja, fazendo pesquisa de preço com cada vendedor. </p>
            <p>Aqui você poderá inserir os orçamentos dos itens listados no link acima "Itens".</p>
           <p></p>
        </div>

    </div>
</body>
</html>