<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orçamento</title>
    <link rel="stylesheet" href="estilo.css">
</head>

<body class="cadbody">
    <h1 class="cadtexto">Cadastre seu orçamento</h1>
    <input type="text" name="Seu nome" value="coloque seu nome" placeholder="Seu Nome">
    <button class="ok">enviar</button>
    <br>
    <br>
    <input type="text" name="Valor" value="Insira o valor" placeholder="Insira o valor">
    <button class="ok">enviar</button>
    <br>
    <br>
    <p>Obrigado</p>
</body>
</html>